$theme-colors: (
  "primary": #3282F7,
  "danger": #ED6454,
  "success": #68D9A4,
  "light": #E7E7E7
);

.header {
    margin: 25px auto;
    & img {
        width: 20%;
    }
}

html {
    font-size: 12px;
}

input {
    &[id="searchzone"]{
        &::placeholder {
            color:rgba(0,0,0,0.25);
        }
        &:focus {
            outline: none !important;
        }
    }
    &[id="search-ingredient"]{
        &::placeholder {
            color:rgba(255,255,255,0.75);
        }
        &:focus {
            outline: none !important;
        }
    }
    &:focus {
        outline: none !important;
    }
}

.forced-placeholder::placeholder {
    color:rgba(255,255,255,0.75) !important;
}

.filter {
    &__bar {
        gap: 20px;
        position: relative;
    }
    &__btn {
        width: 140px;
        height: 19px;
    }
    &__clicked {
            width: inherit;
        position: absolute;
        z-index: 1;
        top: 0;
    }
    &__item-list {
        max-height: 50vh;
        margin-top: 10px;
    }
    &__welcome {
        cursor: pointer;
        padding: 20px;
    }
}

.section {
    margin: 30px auto;
}