$theme-colors: (
  "primary": #3282F7,
  "danger": #ED6454,
  "success": #68D9A4,
  "light": #E7E7E7
);

html {
    font-size: 12px;
}

.header {
    margin: 25px auto;
    & img {
        width: 20%;
    }
}

.section {
    margin: 25px auto;
}

.filterbar {
    gap: 20px;
}

.btn-wrapper {
    cursor: pointer;
    border-radius: 5px;
    padding: 25px 15px;
}

.filter-btn {
    width: 140px;
    height: 19px;
    & span {
        font-weight: 700;
        font-size: 18px;
    }
}

.no-h-padding {
    padding-right: 0;
    padding-left: 0;
}